@charset "utf-8";
/* CSS Document */

#about {
	position: absolute;
	left: 0;
	top: 0;
	/* background: url(/images/background/showWindowBg.png) 0 0 repeat; */
	background: #ccc;
	}
#about .aboutBox {
	width: 300px;
	margin: 100px auto;
	height: 100px;
	}
#about .aboutBox h3 {
	text-align: center;
	}

#about .aboutBox h3 span {
	padding: 5px;
	background: url(/images/background/sidebar_bg.png) 0 0 repeat;
	color: white;
	}	

#about .aboutBox ul {
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px 0;
	}

#about .aboutBox li {
	height: 30px;
	font: bold 16px/30px Verdana, Geneva, sans-serif;
	text-align: center;
	}
	
#about .aboutBox .about_string {
	width: 2px;
	height: 50px;
	margin: 5px auto 0 auto;
	background: url(/images/background/sidebar_bg.png) 0 0 repeat;
	}