@charset "utf-8";
/* CSS Document */
/*body {
	background: #ccc; 
	overflow: hidden;
	background: url(/images/background/body_bg.jpg) 0 -80px repeat;
	}*/
#body {
	position: relative;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity: 0);
	}
	
#preLoadBg {
	position: absolute;
	left: 0;
	top: 0;
	background: url(/images/background/preLoadBg.jpg) 0 0 repeat;
	z-index: 1;
	}
#preLoad {
	width: 400px;
	height: 30px;
	border: 1px solid black;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -201px;
	margin-top: -21px;
	background: url(/images/background/bg.png) 0 0 repeat;
	z-index: 2;
	}
#preLoad span {
	position: absolute;
	left: 0;
	top: 0;
	height: 30px;
	width: 0;
	background: black;
	opacity: .8;
	filter: alpha(opacity: 80);
	}
#preLoad p {
	position: absolute;
	left: 0;
	top: 30px;
	width: 400px;
	height: 30px;
	text-align: center;
	font: bold 16px/30px Verdana, Geneva, sans-serif;
	}

#home {
	margin-right: -30px;
	}

#home .nav {
	position: absolute;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border-radius: 50%;
	white-space: nowrap;
	background: url(/images/background/bg.png) 0 0 repeat;
	cursor: pointer;
	}

#home .nav .string {
	position: absolute;
	left: 50%;
	top: 100%;
	width: 4px;
	margin-left: -2px;
	background: white;
	height: 0;
	}

#home .resume {
	left: 20%;
	}
#home .works {
	left: 20%;
	}
#home .tel {
	left: 20%;
	}
#home .about {
	left: 10%;
	}

#home .fortressBox {
	position: absolute;
	right: -150px;
	top: 50%;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	}
#home .fortress {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	background: url(/images/background/bg.png) 0 0 repeat;
	border-radius: 50%;
	}
#home .small {
	width: 2px;
	height: 10px;
	background: #000;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -1px;
	}
#home .muzzle {
	position: absolute;
	left: 50%;
	bottom: 100px;
	margin-left: -4px;
	width: 8px;
	height: 150px;
	background: #000;
	}

#home .bullet {
	position: absolute;
	width: 18px;
	height: 48px;
	margin-left: -9px;
	margin-top: -24px;
	border-radius: 50%;
	background: url(/images/background/bullet.png) 0 0 no-repeat;
	zIndex: 9999;
	}

#home .sideBar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	border-right: 1px solid black;
	background:url(/images/background/sidebar_bg.png) 0 0 repeat;
	}
#home .line {
	position: absolute;
	width: 0;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	background: #fff;
	}
#home .navLine {
	position: absolute;
	height: 10px;
	left: 100%;
	top: 50%;
	width: 0;
	background: url(/images/background/bg.png) 0 0 repeat;
	margin-top: -5px;
	}

#home .showWindow {
	border-radius: 20px;
	background: url(/images/background/showWindowBg.png) 0 0 repeat;
	
/*	opacity: .5;
	oDiv.style.position='absolute';
	oDiv.style.width='500px';
	oDiv.style.background='#fff';
	oDiv.style.left=500+'px';
	oDiv.style.top=50+'px';*/
	
	/*position: absolute;
	left: 500px;
	top: 10px;
	width: 500px;
	height: 0;*/
	}

#home .target {
	position: absolute;
	left: 50%;
	margin-left: -30px;
	width: 60px;
	height: 60px;
	background: #099;
	border-radius: 50%;
	}
#home .target1 {
	top: 10%;
	}
#home .target2 {
	top: 40%;
	}
#home .target3 {
	top: 70%;
	}
.allWorks {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity: 0);
	/* background:  url(/images/background/showWindowBg.png) 0 0 repeat; */
	background: #ccc;
	}
.allWorks .worklist {
	margin-right: 0;
	position: absolute;
	left: 0;
	top: 0;
	}
.allWorks .worklist .worklist_tips {
	position: absolute;
	background: white;
	width: 100px;
	padding: 2px;
	text-align: center;
	font: 12px/20px Verdana, Geneva, sans-serif;
	border-radius: 5px;
	display: none;
	}
.allWorks .worklist .worklist_tips i {
	position: absolute;
	left: 20px;
	bottom: -10px;
	width: 0;
	height: 0;
	overflow: hidden;
	border-width: 5px;
	border-style: solid dashed dashed dashed;
	border-color: white transparent transparent transparent;
	}
.allWorks .worklist .workItem {
	float: left;
	height: 200px;
	width: 258px;
	margin: 20px;
	border: 1px solid black;
	border-radius: 10px;
	}
.allWorks .worklist .workItem img {
	position: absolute;
	left: 0;
	top: 0;
	width: 258px;
	height: 200px;
	display: block;
	border-radius: 10px;
	z-index: 1;
	cursor: pointer;
	}
.allWorks .worklist .workItem span {
	position: absolute;
	left: 0;
	bottom: -60px;
	width: 260px;
	height: 50px;
	font: 22px/50px Verdana, Geneva, sans-serif;
	color: rgb(51,51,51);
	cursor: pointer;
	text-align: center;
	z-index: 2;
	}
.showWindow .close {
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
	height: 42px;
	cursor: pointer;
	background:url(/images/background/close2.png) 0 0 no-repeat;
	z-index: 0;
	}
	
.showWindow .close span {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	margin-top: -15px;
	background:url(/images/background/sidebar_bg.png) 0 0 repeat;
	border: 1px solid black;
	border-radius: 50%;
	z-index: 1;
	}
		
.showWindow .close i {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -9px;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	background: url(/images/background/close4.png) 1px 0 no-repeat;
	z-index: 2;
	}
	
.bomb {
	width: 10px;
	height: 10px;
	position: absolute;
	border-radius: 50%;
	}
	
#packup {
	position: absolute;
	height: 200px;
	width: 50px;
	background: url(/images/background/bg.png) 0 0 repeat;
	color: black;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity: 0);
	cursor: pointer;
	display: none;
	margin-top: -100px;
	overflow: hidden;
	border: 1px solid black;
	border-left: none;
	}
#packup em {
	position: absolute;
	width: 30px;
	height: 60px;
	text-align: center;
	font: 20px/30px Verdana, Geneva, sans-serif;
	font-style: normal;
	left: 0;
	top: 50%;
	margin-top: -30px;
	}


#fireme {
	position: absolute;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background: url(/images/background/fireTarget2.png) 0 0 no-repeat;
	display: none;
	z-index: 1;
	}
	
#fireTarget {
	width: 132px;
	height: 136px;
	display: none; 
	}
	
/*时钟*/
#clock { width: 180px; height: 180px; border: 2px solid black; border-radius: 50%; position:absolute; right: 0; top: 0; background: url(/images/background/bg.png) 0 0 repeat; }

#clock .hour, #clock .min, #clock .sec { position: absolute; left: 50%; background: black; }
#clock .hour { width: 6px; height: 35px; margin-left: -3px; top: 55px; }
#clock .min { width: 4px; height: 45px; margin-left: -2px; top: 45px; }
#clock .sec { width: 2px; height: 55px; margin-left: -1px; top: 35px; }

#clock .cen { width: 20px; height: 20px; background: black; border-radius: 50%; position: absolute; left: 50%; margin-left: -10px; top: 50%; margin-top: -10px; }

#clock .small { position:absolute; left: 50%; top: 0; width: 2px; margin-left: -1px; height: 8px; background: black; }
#clock .big { position:absolute; left: 50%; top: 0; width: 4px; margin-left: -2px; height: 12px; background: black; }
#clock .big em { font-style: normal; font-weight: normal; position: absolute; left: -88px; width: 180px; font-size: 20px; text-align: center; top: 12px; }

/*监测浏览器版本*/
#testUserAgent {
	position: absolute;
	width: 500px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -150px;
	background: url(/images/background/browser_test.png) 0 0 no-repeat;
	filter: alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	display: none;
	color: white;
	}
#testUserAgent h3 {
	height: 50px;
	font: bold 20px/50px Verdana, Geneva, sans-serif;
	margin: 30px 20px;
	}
#testUserAgent p {
	font: 14px/30px Verdana, Geneva, sans-serif;
	margin: 0 20px;
	}
	
#testUserAgent a {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 126px;
	height: 39px;
	background: url(/images/background/browser_txt.png) -252px 0 no-repeat;
	}
#testUserAgent .close {
	position: absolute;
	top: 16px;
	right: 22px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	}	

#testUserAgentBg {
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	filter: alpha(opacity: 0);
	opacity: 0;
	display: none;
	z-index: 1;
	}

